<ul class="list-group">
  <li class="list-group-item">
    <%= link_to "Application layout", root_path %>
  </li>
  <li class="list-group-item">
    <%= link_to "Controller layout", users_path %>
  </li>
  <li class="list-group-item">
    <%= link_to "Dynamic layout", projects_path(role: "admin") %>
  </li>
</ul>
