<div class="panel panel-primary">
  <div class="panel-heading">Projects#index</div>
  <div class="panel-body">This page is rendered in <b>layouts/admin.html.erb</b> or <b>layouts/manager.html.erb</b> (by function layout in controller)</div>
</div>
